
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    width: 100%;
    height: 100vh;
    background-color:  rgb(233, 231, 231);
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Hanken Grotesk', sans-serif;
}

.container{
    width: 40%;
    height: 60%;
    display: flex;
    border-radius: 20px;
    overflow: hidden;
    background-color: white;
}

.result-img{
    width: 50%;
    height: 100%;
    background: linear-gradient(to bottom,  hsl(252, 100%, 67%),hsl(241, 81%, 54%));
    border-radius: 20px;
    padding: 25px  40px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.result-img h1{
    font-size: 24px;
    color: hsl(241, 100%, 89%);
}

.result-img div {
    width: 150px;
    height: 150px;
    border-radius: 50%;
    font-size: 24px;
    background: linear-gradient(to bottom, hsla(256, 72%, 46%, 1) , hsla(241, 72%, 46%, 0) );
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}
.result-img div p{
    font-size: 36px;
    color: white;
}
.result-img div h3{
    font-size: 16px;
    color:hsl(241, 100%, 89%);
}
.result-img h2{
    font-size: 28px;
    font-weight: 500;
    color: white;
}

.result-img p{
    color: hsl(0, 0%, 83%);
    font-size: 14px;
    text-align: center;
}

.summary{
    width: 50%;
    height: 100%;
    background-color: hsl(0, 0%, 100%);
    box-sizing: border-box; 
    padding: 30px 16px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 30px;
}

.heading{
    font-size:24px ;
    color: black;
    float: left;
}


.score1 {
    background-color: rgba(225, 111, 111, .2);
    width: 90%;
    height: 25%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.score1-heading{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
    gap: 5px;
}

.score1 p {
    color: hsl(0, 100%, 67%);
    font-weight: 700;
   
}

.score1-mark{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}



.score2 {
    background-color: rgba(239, 234, 72, .2);
    width: 90%;
    height: 25%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
} 

.score2-heading{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
    gap: 5px;
}

.score2 p {
    color: hsl(39, 100%, 56%);
    font-weight: 700;
}

.score2-mark{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}


.score3{
    background-color: rgba(86, 242, 75, .2) ;
    width: 90%;
    height: 25%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
 
}

.score3-heading{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
    gap: 5px;
}

.score3 p {
    color: hsl(166, 100%, 37%);
    font-weight: 700;
}

.score3-mark{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;
}


.score4{
    background-color: rgba(131, 115, 234, .2);
    width: 90%;
    height: 25%;
    padding: 5px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 5px;
}

.score4-heading{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-size: 18px;
    gap: 5px;
}

.score4 p{
    color: hsl(234, 85%, 45%);
    font-weight: 700;
}

.score4-mark{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 18px;

}

span{
        color: black;
}

.score1 , .score2 , .score3 , .score4 h3{
    color: hsl(0, 0%, 57%);
    word-spacing: 2px;
}

svg{
    transform: scale(0.95);
}
button{
    border: none;
    width: 90%;
    padding: 16px;
    background-color: hsl(224, 30%, 27%);
    border-radius: 30px;
    overflow: hidden;
    color: white;
    font-size: 20px;
    display: flex;
    justify-content: center;
    align-items: center;
}


@media only screen  and (max-width:1100px){

    .container{
        width: 50%;
        height: 70%;
    }
    
}
@media only screen and (max-width:600px){

    body{
        height: auto;
    }
    .container{
        width: 100%;
        height: auto;
        flex-direction: column;
    }

    .result-img{
        width: 100%;
        height: auto;
        gap: 20px;
    }

    .summary{
        width: 100%;
    }

    .score1 , .score2 , .score3 , .score4 {
        padding: 15px;
      
    }
}